@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

html {
  font-family: "Plus Jakarta Sans", sans-serif !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.touch-section {
  background: url("./fonts/touch.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .touch-section {
    background-position: 65% 80%;
  }
}

.background-trusted {
  background: linear-gradient(
      186deg,
      rgba(130, 255, 226, 0.01),
      rgba(130, 470, 226, 0.05)
    ),
    linear-gradient(
      204deg,
      rgba(243, 238, 255, 0) 0%,
      rgba(243, 238, 255, 0.04) 100%
    ),
    radial-gradient(
      110.94% 200.94% at 50% -5%,
      #48ca96 -16%,
      rgba(41, 128, 103, 0) 25.24%
    );
}
