@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: rgba(11, 14, 21, 1);
  font-family: var(--font-custom), sans-serif;
}

#main {
  background-color: rgba(11, 14, 21, 1);
}

section {
  position: relative;
}

select {
  background-color: transparent;
}

.font-teko {
  font-family: var(--font-teko);
}

html {
  font-family: var(--font-custom), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.touch-section {
  background: url("./fonts/touch.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .touch-section {
    background-position: 65% 80%;
  }
}

.background-trusted {
  background: linear-gradient(
      186deg,
      rgba(130, 255, 226, 0.01),
      rgba(130, 470, 226, 0.05)
    ),
    linear-gradient(
      204deg,
      rgba(243, 238, 255, 0) 0%,
      rgba(243, 238, 255, 0.04) 100%
    ),
    radial-gradient(
      110.94% 200.94% at 50% -5%,
      #48ca96 -16%,
      rgba(41, 128, 103, 0) 25.24%
    );
}

.splide__track {
  overflow: hidden;
}

.splide__list {
  display: flex;
  animation: marquee 5s linear infinite;
}

.socials-after::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  position: absolute;
  right: -2px;
  top: 10px;
  background-color: #fff;
}

@media (min-width: 375px) {
  .hide-bt button {
    display: none;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
