#header { 
    .header-wrapper { 
        overflow: hidden;

        .header-container { 
            background: var(--color-bg-opacity-bg-dark-40, #0B0E1566);
            backdrop-filter: blur(100px);
        }

        .header-background-image { 
            position: absolute;
            z-index: -1;
            top: 0;
            left: -80%;
            min-width: 300%;
        }
    }
}